.lla-audio-wrapper {
  @apply select-none mt-1 mb-1;
}

.lla-audio {
  @apply flex items-center mt-1 mb-1 relative select-none cursor-pointer rounded border p-3.5 pt-3 hover:bg-gray-50;
}

.lla-audio__instance {
  @apply hidden;
}

.lla-audio__info {
  @apply flex justify-between text-sm mb-1 mt-3 items-end text-gray-300 font-mono relative;
  min-height: 32px;
}

.lla-audio__title {
  @apply text-sm form-input block p-1 leading-5 w-48 rounded-sm bg-gray-100 border-gray-300 text-gray-400;
  box-shadow: unset !important;
}

.lla-readonly .lla-audio__title {
  padding: 0;
  margin: 0;
  border: unset;
  background: transparent;
}

.lla-audio__title:focus {
  border-color: theme('backgroundColor.gray.300');
}

.lla-audio__title::placeholder {
  @apply text-gray-400 font-mono;
}

.lla-audio__controller {
  @apply rounded w-9 h-9 flex justify-center items-center transition-colors hover:bg-gray-100 active:bg-gray-200;
  transform: translate(0, 15%);
}

.lla-audio__controller svg {
  @apply w-6 h-6;
}

.lla-audio__volumn-bar-wrapper {
  @apply bg-gray-50;
  height: 120px;
}

/* .lla-audio .rc-slider-handle {
  background: #96dbfa;
} */
