.lla-code-block {
  @apply md:pl-8 md:pr-4 md:pt-9 md:pb-7 whitespace-pre overflow-auto my-1 relative pl-4 pr-2 py-6;
  color: rgb(55, 53, 47);
  background: rgb(247, 246, 243);
}

.lla-code-language {
  @apply absolute invisible flex items-center left-1 top-1 text-sm text-gray-500 p-1 pl-2 rounded cursor-pointer select-none;
}

.lla-code-language:hover {
  background-color: rgba(55, 53, 47, 0.08);
}

.lla-code-language svg {
  width: 10px;
  height: 100%;
  display: block;
  fill: rgba(55, 53, 47, 0.3);
  flex-shrink: 0;
  backface-visibility: hidden;
  margin-left: 4px;
}

.lla-code-block:hover .lla-code-language {
  @apply visible;
}

.lla-code-language__menu {
  @apply shadow-xl rounded py-4 bg-white flex flex-col;
  height: 480px;
  max-height: 50vh;
  min-width: 180px;
  width: 240px;
  max-width: calc(100vw - 240px);
}

.lla-code-language__item {
  @apply py-1 px-4 cursor-pointer;
}

.lla-code-language__item:hover {
  background-color: rgba(55, 53, 47, 0.08);
}

.lla-code-language__item:active {
  background-color: rgba(55, 53, 47, 0.16);
}

.lla-code-language__search {
  @apply pb-1.5 text-sm flex items-center  mx-3.5;
  min-height: 28px;
  /* height: 28px; */
}

.lla-code-language__search input {
  @apply text-sm form-input block leading-5  w-full rounded-sm bg-gray-100 border-gray-300;
  height: 28px;
}

.lla-code-language__item-group {
  @apply overflow-auto;
}

.lla-code-block pre {
  background-color: unset !important;
  color: unset !important;
  padding: unset !important;
  margin: unset !important;
}

.lla-code-block-wrap--formula{
  @apply relative;
}
.lla-code-block-wrap__formula-preview {
  text-align: center;
  background-color: inherit;
  padding: 0;
  cursor: pointer;

}
.lla-code-block-wrap--formula .lla-code-block{
  @apply hidden;
}


.lla-code-block-wrap--formula.lla-code-block-wrap--selected .lla-code-block{
  @apply block;
}

.lla-code-block-wrap--formula.lla-code-block-wrap--selected .lla-code-block-wrap__formula-preview {
  position: absolute;
  top: calc(100% + 0.5rem);
  left: 50%;
  width: 100%;
  box-sizing: border-box;
  z-index: 10000;
  transform: translateX(-50%);
  padding: 0.5rem;
  border: 1px solid grey;
  border-radius: 4px;
  background-color: white;
}

.lla-code-block-wrap__formula-preview__latex-info{
  position: absolute;
  right: 2px;
  bottom: 0;
  font-size: 10px;
  text-decoration: underline;
  display: none;
}

.lla-code-block-wrap--formula.lla-code-block-wrap--selected .lla-code-block-wrap__formula-preview .lla-code-block-wrap__formula-preview__latex-info{
  display: block;
}


.lla-code-block-wrap__formula-preview--empty,
.lla-code-block-wrap__formula-preview--error{
  font-size: 14px;
  font-style: italic;
  font-family: monospace;
}

.lla-code-block-wrap__formula-preview--empty::after{
  content: '<Empty Mathematical Formula>';
  /* color:red; */
}

.lla-code-block-wrap__formula-preview--error::after{
  content: '<Invalid Mathematical Formula>';
  color:red;
}

