.lla-image-wrapper {
  @apply select-none mt-1 mb-1;
}
.lla-image {
  @apply relative max-w-full overflow-hidden;
  min-width: 30%;
  padding: 3px;
  margin: 0 auto;
  /* max-width: 80%; */
  max-height: 50vh;
  /* transition: width 0.001s ease-in-out; */
}

.lla-image.lla-selected {
  @apply border border-gray-600;
}

.lla-image.lla-selected.lla-image--empty {
  @apply border-none bg-gray-300;
}

.lla-image__content {
  @apply object-fill w-full;
}

.lla-image__resizer,
.lla-image__resizer--bottom {
  @apply hidden;
}
.lla-image.lla-selected .lla-image__resizer,
.lla-image:hover .lla-image__resizer {
  @apply absolute block;
  top: 6px;
  bottom: 6px;
  width: 6px;
}

.lla-image.lla-selected .lla-image__resizer--bottom,
.lla-image:hover .lla-image__resizer--bottom {
  @apply absolute block;
  left: 6px;
  right: 6px;
  height: 6px;
  bottom: 0;
}

.lla-image__resizer--left {
  left: 0;
}

.lla-image__resizer--right {
  right: 0;
}

.lla-image.lla-selected .lla-image__resizer__handler,
.lla-image:hover .lla-image__resizer__handler {
  @apply absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: calc(100% - 12px);
  max-height: 60px;
  cursor: col-resize;
}

.lla-image.lla-selected .lla-image__resizer__handler--bottom,
.lla-image:hover .lla-image__resizer__handler--bottom {
  @apply absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 6px;
  height: 16px;
  width: calc(100% - 12px);
  max-width: 60px;
  cursor: row-resize;
}

.lla-image__resizer--right .lla-image__resizer__handler {
  right: 6px;
}

.lla-image__resizer--left .lla-image__resizer__handler {
  left: 6px;
}

.lla-image__resizer__handler::after {
  content: '';
  position: absolute;
  top: 6px;
  bottom: 6px;
  left: 6px;
  right: 6px;
  background: rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 0 1px #fff;
  box-shadow: 0 0 0 1px #fff;
  border-radius: 3px;
}

.lla-image__resizer__handler--bottom::after {
  content: '';
  position: absolute;
  top: 6px;
  bottom: 6px;
  left: 6px;
  right: 6px;
  background: rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 0 1px #fff;
  box-shadow: 0 0 0 1px #fff;
  border-radius: 3px;
}

.lla-image--empty {
  @apply p-3 pr-9 flex items-center text-left w-full overflow-hidden bg-gray-200 hover:bg-gray-300 transition-colors cursor-pointer text-gray-600;
  border-radius: 3px;
}

.lla-image--empty .lla-image__icon {
  width: 25px;
  height: 25px;
  display: block;
  fill: rgba(55, 53, 47, 0.4);
  flex-shrink: 0;
  backface-visibility: hidden;
  margin-right: 12px;
}

.lla-image__popmenu {
  @apply flex flex-col h-full bg-white relative shadow-xl;
  border-radius: 3px;
  max-width: calc(100vw - 24px);
  width: 540px;
  min-height: 138px;
  height: fit-content;
  box-shadow: rgb(15 15 15 / 5%) 0px 0px 0px 1px,
    rgb(15 15 15 / 10%) 0px 3px 6px, rgb(15 15 15 / 20%) 0px 9px 24px;
}

.lla-image__popmenu__item-group {
  @apply flex justify-start pl-2 pr-2;
  box-shadow: rgb(55 53 47 / 9%) 0px 1px 0px;
}

.lla-image__popmenu__item {
  @apply pt-2 pb-2 flex-shrink-0 inline-flex flex-col relative cursor-pointer;
}

.lla-image__popmenu__item__label {
  @apply pl-2 pr-2 font-sans text-sm hover:bg-gray-200 leading-7 rounded-sm;
}

.lla-image__popmenu__active-item-indicator {
  border-bottom: 2px solid rgb(55, 53, 47);
  position: absolute;
  bottom: -1px;
  left: 8px;
  right: 8px;
}

.lla-image__popmenu__content {
  @apply flex flex-col flex-grow items-center mt-6 mb-2;
}

.lla-image__popmenu__content.lla-image__popmenu__content--embed {
  @apply mt-2;
}

.lla-image__open {
  @apply flex items-center justify-center text-sm align-middle bg-blue-400 hover:bg-blue-500 active:bg-blue-600 rounded text-center text-white flex-grow mr-28 ml-28 cursor-pointer;
  width: -webkit-fill-available;
  line-height: 2;
  font-weight: 500;
}
.lla-image__open-helper-message {
  @apply flex-grow text-center mt-4  mr-28 ml-28 text-xs text-gray-600;
}

.lla-image__embed-input {
  @apply text-sm form-input block p-1 leading-5 mr-4 ml-4 rounded-sm bg-gray-100 border-gray-300;
  width: -webkit-fill-available;
}

.lla-image__embed-input:active,
.lla-image__embed-input:focus {
  box-shadow: rgb(46 170 220 / 70%) 0px 0px 0px 1px inset,
    rgb(46 170 220 / 40%) 0px 0px 0px 2px !important;
}

.lla-image__embed-submit {
  @apply flex items-center justify-center  text-sm bg-blue-400 hover:bg-blue-500 active:bg-blue-600 rounded text-center text-white flex-grow mr-28 ml-28 cursor-pointer mt-3;
  width: -webkit-fill-available;
  line-height: 2;
  font-weight: 500;
}
.lla-image__embed-helper-message {
  @apply flex-grow text-center mt-4  mr-28 ml-28 text-xs text-gray-600;
}

.lla-image__embed-input__clear {
  @apply right-4 cursor-pointer absolute;
  transform: translate(-50%, 50%);
}

.lla-image__embed-input__clear svg {
  width: 14px;
  height: 14px;
  display: block;
  fill: rgba(55, 53, 47, 0.3);
  flex-shrink: 0;
  backface-visibility: hidden;
}

.lla-image.lla-selected img{
  @apply pointer-events-none;
}


.lla-image__resize-image {
  @apply w-[var(--img-width)] h-[var(--img-height)] aspect-[var(--img-aspect-ratio)] relative overflow-hidden;
}

.lla-image__resize-image__mask{
  @apply absolute inset-0 w-full h-full filter blur-2xl z-[-1] bg-no-repeat scale-150
}

.lla-image__resize-image__error-message{
  @apply absolute inset-0 flex items-center justify-center p-4;
}

.lla-image__resize-image__error-message svg{
  @apply inline-block w-[1em] h-[1em] mr-[0.5em] fill-white;
}

.lla-image__resize-image__error-message > span{
  @apply backdrop-blur-xl text-white mix-blend-difference;
}

.lla-image__resize-image__convert-message{
  @apply p-2 absolute left-1 top-1 backdrop-blur-xl  text-white cursor-pointer mix-blend-difference;
}