.lla-list-item {
  @apply flex items-start;
}

.lla-list-item__leading {
  @apply flex items-center justify-center flex-grow-0 flex-shrink-0 select-none;
  width: 24px;
  min-height: calc(1.5rem + 3px + 3px);
}

.lla-list-item__container {
  @apply contents;
}

.lla-list-item--task .lla-list-item__leading__content {
  @apply form-checkbox leading-6 cursor-pointer;
}
.lla-list-item--task .lla-list-item__leading__content:focus {
  box-shadow: none;
}
.lla-list-item__content {
  @apply flex-grow;
}

.lla-list-item--done > .lla-list-item__content > .lla-paragraph:first-child {
  @apply line-through text-gray-500;
}

.lla-list-item--bulleted .lla-list-item__leading__content {
  font-size: 1.5rem;
  line-height: 1;
  margin-bottom: 0.1rem;
}

.lla-list-item__content > .lla-paragraph > .lla-placeholder {
  @apply visible;
}
