.lla-paragraph {
  @apply relative  font-sans;
  padding: 3px 2px;
}

.lla-placeholder {
  @apply invisible absolute  select-none pointer-events-none top-1;
  white-space: pre-wrap;
  word-break: break-word;
  caret-color: rgb(55, 53, 47);
  color: rgb(55, 53, 47);
  -webkit-text-fill-color: rgba(55, 53, 47, 0.4);
}

.lla-paragraph.lla-selected > .lla-placeholder {
  @apply visible;
}

.lla-inline-code {
  @apply p-1 rounded bg-white border shadow-sm mx-0.5;
}
