.lla-media--empty {
  @apply p-3 pr-9 flex items-center text-left w-full overflow-hidden bg-gray-200 hover:bg-gray-300 transition-colors cursor-pointer text-gray-600;
  border-radius: 3px;
}

.lla-media--empty .lla-media__icon {
  width: 25px;
  height: 25px;
  display: block;
  fill: rgba(55, 53, 47, 0.4);
  flex-shrink: 0;
  backface-visibility: hidden;
  margin-right: 12px;
}

.lla-media__popmenu {
  @apply flex flex-col h-full bg-white relative shadow-xl;
  border-radius: 3px;
  max-width: calc(100vw - 24px);
  width: 540px;
  min-height: 138px;
  height: fit-content;
  box-shadow: rgb(15 15 15 / 5%) 0px 0px 0px 1px,
    rgb(15 15 15 / 10%) 0px 3px 6px, rgb(15 15 15 / 20%) 0px 9px 24px;
}

.lla-media__popmenu__item-group {
  @apply flex justify-start pl-2 pr-2;
  box-shadow: rgb(55 53 47 / 9%) 0px 1px 0px;
}

.lla-media__popmenu__item {
  @apply pt-2 pb-2 flex-shrink-0 inline-flex flex-col relative cursor-pointer;
}

.lla-media__popmenu__item__label {
  @apply pl-2 pr-2 font-sans text-sm hover:bg-gray-200 leading-7 rounded-sm;
}

.lla-media__popmenu__active-item-indicator {
  border-bottom: 2px solid rgb(55, 53, 47);
  position: absolute;
  bottom: -1px;
  left: 8px;
  right: 8px;
}

.lla-media__popmenu__content {
  @apply flex flex-col flex-grow items-center mt-6 mb-2;
}

.lla-media__popmenu__content.lla-media__popmenu__content--embed {
  @apply mt-2;
}

.lla-media__open {
  @apply flex items-center justify-center text-sm align-middle bg-blue-400 hover:bg-blue-500 active:bg-blue-600 rounded text-center text-white flex-grow mr-28 ml-28 cursor-pointer;
  width: -webkit-fill-available;
  line-height: 2;
  font-weight: 500;
}
.lla-media__open-helper-message {
  @apply flex-grow text-center mt-4  mr-28 ml-28 text-xs text-gray-600;
}

.lla-media__embed-input {
  @apply text-sm form-input block p-1 leading-5 mr-4 ml-4 rounded-sm bg-gray-100 border-gray-300;
  width: -webkit-fill-available;
}

.lla-media__embed-input:active,
.lla-media__embed-input:focus {
  box-shadow: rgb(46 170 220 / 70%) 0px 0px 0px 1px inset,
    rgb(46 170 220 / 40%) 0px 0px 0px 2px !important;
}

.lla-media__embed-submit {
  @apply flex items-center justify-center  text-sm bg-blue-400 hover:bg-blue-500 active:bg-blue-600 rounded text-center text-white flex-grow mr-28 ml-28 cursor-pointer mt-3;
  width: -webkit-fill-available;
  line-height: 2;
  font-weight: 500;
}
.lla-media__embed-helper-message {
  @apply flex-grow text-center mt-4  mr-28 ml-28 text-xs text-gray-600;
}

.lla-media__embed-input__clear {
  @apply right-4 cursor-pointer absolute;
  transform: translate(-50%, 50%);
}

.lla-media__embed-input__clear svg {
  width: 14px;
  height: 14px;
  display: block;
  fill: rgba(55, 53, 47, 0.3);
  flex-shrink: 0;
  backface-visibility: hidden;
}
