.lla-video-wrapper {
  @apply select-none mt-1 mb-1;
}
.lla-video {
  @apply relative max-w-full;
  min-width: 30%;
  padding: 3px;
  margin: 0 auto;
  /* max-width: 80%; */
  max-height: 50vh;
  /* transition: width 0.001s ease-in-out; */
}

.lla-video.lla-selected {
  @apply border border-gray-600;
}

.lla-video.lla-selected.lla-video--empty {
  @apply border-none bg-gray-300;
}

.lla-video__content {
  @apply object-cover w-full;
}

.lla-video__resizer {
  @apply hidden;
}
.lla-video.lla-selected .lla-video__resizer,
.lla-video:hover .lla-video__resizer {
  @apply absolute block;
  top: 6px;
  bottom: 6px;
  width: 6px;
}

.lla-video__resizer--left {
  left: 0;
}

.lla-video__resizer--right {
  right: 0;
}

.lla-video.lla-selected .lla-video__resizer__handler,
.lla-video:hover .lla-video__resizer__handler {
  @apply absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: calc(100% - 12px);
  max-height: 60px;
  cursor: col-resize;
}

.lla-video__resizer--right .lla-video__resizer__handler {
  right: 6px;
}

.lla-video__resizer--left .lla-video__resizer__handler {
  left: 6px;
}

.lla-video__resizer__handler::after {
  content: '';
  position: absolute;
  top: 6px;
  bottom: 6px;
  left: 6px;
  right: 6px;
  background: rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 0 1px #fff;
  box-shadow: 0 0 0 1px #fff;
  border-radius: 3px;
}
