@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import '@lla-editor/editor/dist/style/index.css';
/* @import 'prismjs/themes/prism.css'; */
@import 'prismjs/themes/prism-tomorrow.css';

.prose p code {
  @apply text-green-600;
}

.prose p a {
  @apply text-red-600;
}

.lla-heading:first-child {
  @apply mt-1;
}

.live-preview:empty {
  @apply hidden;
}

/* .token-line {
  position: relative;
  overflow-wrap: normal;
  white-space: pre;
  counter-increment: line 1;
  font: inherit;
  padding: 0px 23px;
}

.token-line:not(:only-child)::before {
  top: 3px;
  left: -3px;
  color: rgb(92, 105, 117);
  width: 22px;
  margin-left: 1px;
  bottom: 0px;
  content: counter(line);
  display: inline-block;
  position: absolute;
  font-size: 12px;
  text-align: right;
  white-space: nowrap;
  text-overflow: ellipsis;
  background-color: transparent;
  user-select: none;
  overflow: hidden;
} */

code::before,
code::after {
  display: none;
}
