.lla-context-menu {
  @apply shadow-lg border  relative  opacity-100 rounded bg-white;
  width: 220px;
}

.lla-context-menu__search {
  @apply pt-1.5 pb-1.5 mt-2 text-sm flex items-center  ml-3.5 mr-3.5;
  min-height: 28px;
  /* height: 28px; */
}

.lla-context-menu__search input {
  @apply text-sm form-input block leading-5  w-full rounded-sm bg-gray-100 border-gray-300;
  height: 28px;
}

.lla-context-menu__group {
  @apply pt-1.5 pb-1.5;
}

.lla-context-menu__item {
  @apply select-none cursor-pointer  flex items-center  text-sm flex-grow hover:bg-gray-100 active:bg-gray-200;
  min-height: 28px;
}

.lla-context-menu__item__icon {
  @apply ml-3.5 flex items-center justify-center;
}

.lla-context-menu__item__icon svg {
  width: 17px;
  height: 17px;
  display: block;
  fill: inherit;
  flex-shrink: 0;
  backface-visibility: hidden;
}

.lla-context-menu__item__title {
  @apply ml-2 mr-3.5 flex-grow;
}

.lla-context-menu__item__shotkey {
  @apply mr-3.5 flex-shrink-0 text-gray-300 text-xs;
}

.lla-context-menu-target {
  @apply relative;
}

.lla-context-menu-target > .lla-context-menu-trigger {
  @apply invisible;
}

.lla-context-menu-target:hover > .lla-context-menu-trigger {
  @apply visible;
}

.lla-context-menu-trigger {
  @apply rounded absolute top-1 right-1 w-4 h-4 flex items-center justify-center hover:bg-gray-200 active:bg-gray-300;
}
